@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: hsl(235 21% 11%); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 3px solid hsl(236, 33%, 92%); /* Padding around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(
    233,
    14%,
    35%
  ); /* Color of the scrollbar thumb on hover */
}
